nav{
    text-align: center;
    color: black;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 30px;
    font-display: 50px;
    background-position: 50%;
   

}